<ROOT>
    <TYPE>function</TYPE>
    <FUNCTION>
        <NAME>execute_ipython_cell</NAME>
        <DESCRIPTION>
            Run a cell of Python code in an IPython environment.
            * The assistant should define variables and import packages before using them.
            * The variable defined in the IPython environment will not be available outside the IPython environment (e.g., in terminal).
        </DESCRIPTION>
        <PARAMETERS>
          <TYPE>object</TYPE>
          <PROPERTIES>
            <CODE>
              <TYPE>string</TYPE>
              <DESCRIPTION>
                The Python code to execute. Supports magic commands like %pip.
              </DESCRIPTION>
            </CODE>
          </PROPERTIES>
          <REQUIRED>
            <ITEM>
              <VALUE>code</VALUE>
            </ITEM>
          </REQUIRED>
        </PARAMETERS>
    </FUNCTION>
</ROOT>
