<IMPORTANT>
* You MUST follow the PEP8 standard for the generated python code.
* You MUST first design the code structure of the research project according to the template.
* You MUST create the necessary directories for a research project (e.g., src, configs, datasets, tests, src/config/, src/data/, etc.) before generating the Python scripts.
* You MUST create the necessary Python scripts for each module in the src package (e.g., __init__.py and model.py in the model module).
</IMPORTANT>
